---
import '../../styles/app.scss';
Astro.response.headers.set('Cache-Control', 'max-age=0, s-maxage=3600, stale-while-revalidate');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alloys Mila</title>
		<meta
			name="description"
			content="I'm Alloys, a software & cloud technology professional focused on creating digital solutions and interactive experiences. Explore my portfolio and learn more about my work!"
		/>
		<meta
			name="keywords"
			content="Alloys, Mila, software, cloud technology, digital solutions, interactive experiences, portfolio"
		/>
	</head>
	<body>
		<div class="blog-roll">
			<ul>
				<li class="blog-roll-item">
					<b>Wed May 24 2023</b>
					<p>
						<a href="/blog/content/bad-bosses"
							>How do I deal with a bad boss?</a
						>
					</p>
				</li>
				<li class="blog-roll-item">
					<b>Sat Apr 08 2023</b>
					<p>
						<a href="/blog/content/five-advanced-git-commands"
							>Five Advanced, Rarely Used Git Commands</a
						>
					</p>
				</li>

				<li class="blog-roll-item">
					<b>Wed Mar 22 2023</b>
					<p>
						<a href="/blog/content/ten-git-commands-you-should-know"
							>10 Git Beginner Commands You Should Know: Essential commands to get started with Git</a
						>
					</p>
				</li>

				<li class="blog-roll-item">
					<b>Wed Mar 01 2023</b>
					<p>
						<a href="/blog/content/plan-is-not-strategy"
							>The Distinction Between a Plan and a Strategy: Why It Matters</a
						>
					</p>
				</li>

				<li class="blog-roll-item">
					<b>Thu Feb 16 2023</b>
					<p>
						<a href="/blog/content/people-plan-process-performace"
							>The Four Pillars of Successful Teams: People, Plans, Processes, and Performance</a
						>
					</p>
				</li>

				<li class="blog-roll-item">
					<b>Sat Jan 21 2023</b>
					<p>
						<a href="/blog/content/okr-mine-field"
							>Navigating the OKR Minefield: Common Pitfalls to Avoid for Successful Goal-Setting</a
						>
					</p>
				</li>
			</ul>
		</div>
	</body>
</html>
